<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о товаре</title>
    <link rel="stylesheet" type="text/css" href="style/card.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/card.css}">
</head>
<body>
<div class="card">
<h3>Товар</h3>
<p th:text="'Наименование: ' + ${product.getTitle()}"></p>
<p th:text="'Описание: ' + ${product.getDescription()}"></p>
<p th:text="'Цена: ' + ${product.getPrice()}"></p>
<p th:text="'Склад: ' + ${product.getWarehouse()}"></p>
<p th:text="'Продавец: ' + ${product.getSeller()}"></p>
<p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>

<div th:each="img : ${product.getImageList()}">
    <img th:src="'/img/' + ${img.getFileName()}" width="300px">
</div>
</div>
</body>
</html>