.card {
    width: 300px;
    margin: 0 auto;
    padding: 10px 10px 5px 10px;
    border: 1px solid #eee;
    background: white;
    text-align: center;
    overflow: hidden;
    transition: .4s linear;
}